/* ======= SLIDER ROCK ======= */
.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slideAnimation 20s infinite;
}

.slide {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    position: relative;
}

.slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.slide-text {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(73, 4, 4, 0.6);
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000;
    z-index: 2;
}

/* Animación automática */
@keyframes slideAnimation {
    0% { transform: translateX(0%); }
    14.28% { transform: translateX(0%); }

    17.14% { transform: translateX(-100%); }
    31.42% { transform: translateX(-100%); }

    34.28% { transform: translateX(-200%); }
    48.56% { transform: translateX(-200%); }

    51.42% { transform: translateX(-300%); }
    65.7% { transform: translateX(-300%); }

    68.56% { transform: translateX(-400%); }
    82.84% { transform: translateX(-400%); }

    85.7% { transform: translateX(-500%); }
    99.98% { transform: translateX(-500%); }

    100% { transform: translateX(-600%); }
}